# Python
__pycache__/
*.py[cod]

# Virtuelle Umgebung
.venv/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
logs/

# Generierte Ausgabedateien
data/output/

# Jupyter
.ipynb_checkpoints/

# Real-world validation data
real_world_test/
data/before/real_world_test.tif
data/after/real_world_test.tif

gui_settings.json
project_tree.txt